# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

# whitelist
!/README.md
!/.gitignore
!Makefile
!ArchLinux
!Dockerfile

!/.config/
/.config/*
!/.config/gzdoom/
!/.config/gzdoom/*

!/.Xresources


!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el

!/.emacs.d/elpa/
/.emacs.d/elpa/**
!/.emacs.d/elpa/**

!/.emacs.d/elisp/
/.emacs.d/elisp/**
!/.emacs.d/elisp/**

!/.bashrc

!/.xinitrc

!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs

!/.config/
/.config/*
!/.config/ranger/
!/.config/ranger/*