# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

# whitelist
!/README.md
!/.gitignore
!Makefile
!Dockerfile

!/.config/
/.config/*
!/.config/gzdoom/
!/.config/gzdoom/*

!/.Xresources

!/.bashrc

!/.xinitrc

!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs

!/.config/
/.config/*
!/.config/ranger/
!/.config/ranger/*

!/.vim/
/.vim/*
!/.vim/rc/
!/.vim/rc/*

!/.vimrc

!/.fehbg

!/note/
/note/*
!/note/wifi.txt

!/.xmobarrc

!/.bash_profile

!/garvage_erase.py

!/.tmux.conf
